{
  "openapi": "3.0.3",
  "info": {
    "title": "The Autonomous API",
    "description": "Programmatic access to your AI agent workforce. Authenticate with a Bearer API key (ta_live_…) created from the dashboard.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://www.theautonomous.org" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/agents": {
      "get": {
        "summary": "List agents (or fetch one by id)",
        "parameters": [
          { "name": "id", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Optional agent id to fetch a single agent." }
        ],
        "responses": {
          "200": { "description": "Agent(s)", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "description": "Missing or invalid API key" }
        }
      }
    },
    "/api/v1/chat": {
      "post": {
        "summary": "Send a message to an agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId", "message"],
                "properties": {
                  "agentId": { "type": "string" },
                  "conversationId": { "type": "string" },
                  "message": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Agent response", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "description": "Missing or invalid API key" }
        }
      }
    },
    "/api/v1/tasks": {
      "get": {
        "summary": "List tasks",
        "parameters": [
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Tasks", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object" } } } } },
          "401": { "description": "Missing or invalid API key" }
        }
      },
      "post": {
        "summary": "Create a task for an agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId", "title"],
                "properties": {
                  "agentId": { "type": "string" },
                  "title": { "type": "string" },
                  "prompt": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created task", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "description": "Missing or invalid API key" }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Service health check",
        "security": [],
        "responses": {
          "200": { "description": "Healthy", "content": { "application/json": { "schema": { "type": "object" } } } },
          "503": { "description": "Degraded" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key in the form ta_live_… passed as `Authorization: Bearer <key>`."
      }
    }
  }
}
